# File mau - copy thanh application.properties va dien thong tin that,
# KHONG dien mat khau that vao chinh file nay roi commit len GitHub

server.port=9000
server.maxConcurrentClients=20

db.url=jdbc:mysql://localhost:3306/pve_logs?useSSL=false&serverTimezone=UTC
db.user=root
db.password=DIEN_MAT_KHAU_THAT_O_DAY
